*
{
    margin: 0;
    padding: 0;
}
#loginform
{
    margin-top: 100px;
}
#username
{
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1));
    backdrop-filter:blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 0 rgba(0,0, 0, 0.17);
}

#password
{
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1));
    backdrop-filter:blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 0 rgba(0,0, 0, 0.17);
}

#loginButton
{
    padding: 10px;
    width: 100px;
    margin-top: 20px;
    margin-left: 90px;
    border: 1px solid rgba(255,255,255,0.18);
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1));
    backdrop-filter:blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 0 rgba(0,0, 0, 0.17);
    cursor: pointer;
}


.btns
{
    display: flex;
    flex-direction: row;
}